@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #059669; /* Cor verde oliva */
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Cor verde oliva mais clara ao passar o mouse */
}